@model SportsOrganizer.Models.Team

@{
    ViewData["Title"] = "Sports Organizer - Teams Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
@foreach (var player in Model.Players)
{
    <p>@Html.DisplayFor(modelPlayer => player.Name)</p>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(modelPlayer => player.PlayerId)
        @Html.HiddenFor(modelPlayer => player.Name)


        @Html.DisplayFor(modelPlayer => player.TeamId)
        @Html.DropDownList("TeamId");

        <input type="submit" value="Reassign Player" />
    }

}