@model SportsOrganizer.Models.Player

@{
    ViewData["Title"] = "Sports Organizer - Players Creation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a new Player</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.TeamId)
    @Html.DropDownList("TeamId")

    <input type="submit" value="Create Player" class="btn btn-succes" />
}

@Html.ActionLink("Back to Players", "Index")