@model IEnumerable<SportsOrganizer.Models.Player>
@{
    ViewData["Title"] = "Sports Organizer - Players Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Any())
{
    @foreach (var Player in Model)
    {
        <div>
            <h4>@Html.DisplayFor(modelPlayer => Player.Name)</h4>
            @Html.ActionLink("Details", "Details", new { id = Player.PlayerId })
            @Html.ActionLink("Delete", "Delete", new { id = Player.PlayerId })
            @Html.ActionLink("Edit", "Edit", new { id = Player.PlayerId })
        </div>
    }
}
else
{
    <h4>No Existing Player</h4>
}

@Html.ActionLink("Create New Player", "Create")
